<main>
    <div class="recipe-list">
        <article class="recipe">
            <p class="recipe-name">Sample Recipe Name</p>
            <p class="recipe-information">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore laboriosam dicta est enim saepe nostrum
                consequatur maiores necessitatibus tempora ipsa quo assumenda fuga placeat provident cum repellendus
                dolor ea aspernatur, soluta error quod voluptates fugiat obcaecati quidem? Voluptatibus facere explicabo
                eaque asperiores impedit sapiente quo, laudantium aperiam, reiciendis dolor natus.</p>
        </article>
        <article class="recipe">
            <p class="recipe-name">Sample Recipe Name</p>
            <p class="recipe-information">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore laboriosam dicta est enim saepe nostrum
                consequatur maiores necessitatibus tempora ipsa quo assumenda fuga placeat provident cum repellendus
                dolor ea aspernatur, soluta error quod voluptates fugiat obcaecati quidem? Voluptatibus facere explicabo
                eaque asperiores impedit sapiente quo, laudantium aperiam, reiciendis dolor natus.</p>
        </article>
        <article class="recipe">
            <p class="recipe-name">Sample Recipe Name</p>
            <p class="recipe-information">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore laboriosam dicta est enim saepe nostrum
                consequatur maiores necessitatibus tempora ipsa quo assumenda fuga placeat provident cum repellendus
                dolor ea aspernatur, soluta error quod voluptates fugiat obcaecati quidem? Voluptatibus facere explicabo
                eaque asperiores impedit sapiente quo, laudantium aperiam, reiciendis dolor natus.</p>
        </article>
        <article class="recipe">
            <p class="recipe-name">Sample Recipe Name</p>
            <p class="recipe-information">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore laboriosam dicta est enim saepe nostrum
                consequatur maiores necessitatibus tempora ipsa quo assumenda fuga placeat provident cum repellendus
                dolor ea aspernatur, soluta error quod voluptates fugiat obcaecati quidem? Voluptatibus facere explicabo
                eaque asperiores impedit sapiente quo, laudantium aperiam, reiciendis dolor natus.</p>
        </article>
    </div>
    <div class="recipe-details">
        <span class="default-information-wrapper">
            <p class="title">Tasty Food Name</p>
            <img src="../../../assets/RecipeDetailsDefaultPicture.jpg" alt="Tasty Food Picture should be here!">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis repellat tenetur excepturi officia
                vero? Veniam earum sunt itaque modi voluptatem reprehenderit, eos necessitatibus praesentium
                perspiciatis provident maxime rem exercitationem beatae natus cum autem enim dicta, nisi quasi, voluptas
                id. Voluptates, veritatis eum amet quae quaerat dolor accusamus veniam harum dolore iste tempora, nulla
                distinctio? Nisi, corrupti recusandae eum illo dolorem dicta minima iste cumque non hic! Totam nulla
                eveniet voluptatum laboriosam, deserunt repellat doloribus veritatis cumque in, possimus quasi accusamus
                cum ipsam maiores fuga? Inventore facilis distinctio, accusantium corporis blanditiis eveniet libero
                cumque porro repellat nemo, maxime aliquam itaque cupiditate facere minima expedita quam vero ad numquam
                atque. Ab molestias quod et eius aut earum libero sapiente eligendi ad, tempore laborum maiores? Officia
                temporibus accusamus voluptatem asperiores magni quas eligendi a non dolores, nostrum enim delectus
                repellendus ab ad corrupti facere illo dicta aliquam! Alias doloremque explicabo quo non laudantium?</p>
        </span>
        <table class="calorie-information">
            <thead>
                <tr>
                    <th>Carbs</th>
                    <th>Fats</th>
                    <th>Prot</th>
                    <th>TOTAL kCal</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>39 g</td>
                    <td>20g</td>
                    <td>7g</td>
                    <td>400 kCal</td>
                </tr>
            </tbody>
        </table>
        <ul class="recipe-options">
            <li><a routerLink="/food/recipes/like/:id">Like</a></li>
            <li><a routerLink="/food/recipes/edit/:id">Edit</a></li>
            <li><a routerLink="/food/recipes/delete/:id">Delete</a></li>
        </ul>
        <a routerLink="/food/recipes/create">Create Your Own Recipe!</a>
    </div>
</main>