<div class="week-summary">
    <section class="week-panel">
        <article class="day">
            <h3>Monday</h3>
            <ul class="meals">
                <li>Something</li>
                <li>Something else</li>
                <li>Food</li>
            </ul>
        </article>
        <article class="day">
            <h3>Tuesday</h3>
            <ul class="meals">
                <li>Something</li>
                <li>Something else</li>
                <li>Food</li>
            </ul>
        </article>
        <article class="day">
            <h3>Wednesday</h3>
            <ul class="meals">
                <li>Something</li>
                <li>Something else</li>
                <li>Food</li>
            </ul>
        </article>
        <article class="day">
            <h3>Thursday</h3>
            <ul class="meals">
                <li>Something</li>
                <li>Something else</li>
                <li>Food</li>
            </ul>
        </article>
        <article class="day">
            <h3>Friday</h3>
            <ul class="meals">
                <li>Something</li>
                <li>Something else</li>
                <li>Food</li>
            </ul>
        </article>
        <article class="day">
            <h3>Saturday</h3>
            <ul class="meals">
                <li>Something</li>
                <li>Something else</li>
                <li>Food</li>
            </ul>
        </article>
        <article class="day">
            <h3>Sunday</h3>
            <ul class="meals">
                <li>Something</li>
                <li>Something else</li>
                <li>Food</li>
            </ul>
        </article>
    </section>
    <section class="summary-panel">
        <article class="daily-summary">
            <h2>Daily Calories</h2>
            <span class="daily-carbs">
                <h3>Carbs</h3>
                <p>159gr</p>
            </span>
            <span class="daily-protein">
                <h3>Protein</h3>
                <p>213g</p>
            </span>
            <span class="daily-fats">
                <h3>Fats</h3>
                <p>61g</p>
            </span>
            <span class="daily-calories">
                <h3>Calories</h3>
                <p>2784kCal</p>
            </span>
        </article>
        <article class="weekly-summary">
            <h2>Weekly Calories</h2>
            <span class="weekly-carbs">
                <h3>Carbs</h3>
                <p>795gr</p>
            </span>
            <span class="weekly-protein">
                <h3>Protein</h3>
                <p>1065g</p>
            </span>
            <span class="weekly-fats">
                <h3>Fats</h3>
                <p>305g</p>
            </span>
            <span class="weekly-calories">
                <h3>Calories</h3>
                <p>13600kCal</p>
            </span>
        </article>
    </section>
</div>
<div class="meal-configuration">
    <section class="day-panel">
        <ul>
            <li>
                <img src="../../../assets/RecipeDetailsDefaultPicture.jpg" alt="Meal Picture should be here...">
                <span>
                    <h4>Tasty food</h4>
                    <table>
                        <thead>
                            <tr>
                                <th>Carbs</th>
                                <th>Protein</th>
                                <th>Fats</th>
                                <th>Calories</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>74g</td>
                                <td>31g</td>
                                <td>11g</td>
                                <td>740kcal</td>
                            </tr>
                        </tbody>
                    </table>
                </span>
            </li>
            <li>
                <img src="../../../assets/RecipeDetailsDefaultPicture.jpg" alt="Meal Picture should be here...">
                <span>
                    <h4>Tasty food</h4>
                    <table>
                        <thead>
                            <tr>
                                <th>Carbs</th>
                                <th>Protein</th>
                                <th>Fats</th>
                                <th>Calories</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>74g</td>
                                <td>31g</td>
                                <td>11g</td>
                                <td>740kcal</td>
                            </tr>
                        </tbody>
                    </table>
                </span>
            </li>
            <li>
                <img src="../../../assets/RecipeDetailsDefaultPicture.jpg" alt="Meal Picture should be here...">
                <span>
                    <h4>Tasty food</h4>
                    <table>
                        <thead>
                            <tr>
                                <th>Carbs</th>
                                <th>Protein</th>
                                <th>Fats</th>
                                <th>Calories</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>74g</td>
                                <td>31g</td>
                                <td>11g</td>
                                <td>740kcal</td>
                            </tr>
                        </tbody>
                    </table>
                </span>
            </li>
            <li>
                <img src="../../../assets/RecipeDetailsDefaultPicture.jpg" alt="Meal Picture should be here...">
                <span>
                    <h4>Tasty food</h4>
                    <table>
                        <thead>
                            <tr>
                                <th>Carbs</th>
                                <th>Protein</th>
                                <th>Fats</th>
                                <th>Calories</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>74g</td>
                                <td>31g</td>
                                <td>11g</td>
                                <td>740kcal</td>
                            </tr>
                        </tbody>
                    </table>
                </span>
            </li>
        </ul>
    </section>
    <section class="meal-panel">
        <article class="filters">
            <label for="name">Search by name:</label>
            <input type="text" name="name">
            <label for="maxKcal">Max kCal:</label>
            <input type="number" name="maxKcal">
            <button>Search</button>
        </article>
        <article class="filter-results">
            <ul>
                <li>
                    <img src="../../../assets/RecipeDetailsDefaultPicture.jpg" alt="Meal Picture should be here...">
                    <span>
                        <h4>Tasty food</h4>
                        <table>
                            <thead>
                                <tr>
                                    <th>Carbs</th>
                                    <th>Protein</th>
                                    <th>Fats</th>
                                    <th>Calories</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>74g</td>
                                    <td>31g</td>
                                    <td>11g</td>
                                    <td>740kcal</td>
                                </tr>
                            </tbody>
                        </table>
                    </span>
                </li>
                <li>
                    <img src="../../../assets/RecipeDetailsDefaultPicture.jpg" alt="Meal Picture should be here...">
                    <span>
                        <h4>Tasty food</h4>
                        <table>
                            <thead>
                                <tr>
                                    <th>Carbs</th>
                                    <th>Protein</th>
                                    <th>Fats</th>
                                    <th>Calories</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>74g</td>
                                    <td>31g</td>
                                    <td>11g</td>
                                    <td>740kcal</td>
                                </tr>
                            </tbody>
                        </table>
                    </span>
                </li>
                <li>
                    <img src="../../../assets/RecipeDetailsDefaultPicture.jpg" alt="Meal Picture should be here...">
                    <span>
                        <h4>Tasty food</h4>
                        <table>
                            <thead>
                                <tr>
                                    <th>Carbs</th>
                                    <th>Protein</th>
                                    <th>Fats</th>
                                    <th>Calories</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>74g</td>
                                    <td>31g</td>
                                    <td>11g</td>
                                    <td>740kcal</td>
                                </tr>
                            </tbody>
                        </table>
                    </span>
                </li>
                <li>
                    <img src="../../../assets/RecipeDetailsDefaultPicture.jpg" alt="Meal Picture should be here...">
                    <span>
                        <h4>Tasty food</h4>
                        <table>
                            <thead>
                                <tr>
                                    <th>Carbs</th>
                                    <th>Protein</th>
                                    <th>Fats</th>
                                    <th>Calories</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>74g</td>
                                    <td>31g</td>
                                    <td>11g</td>
                                    <td>740kcal</td>
                                </tr>
                            </tbody>
                        </table>
                    </span>
                </li>
                <li>
                    <img src="../../../assets/RecipeDetailsDefaultPicture.jpg" alt="Meal Picture should be here...">
                    <span>
                        <h4>Tasty food</h4>
                        <table>
                            <thead>
                                <tr>
                                    <th>Carbs</th>
                                    <th>Protein</th>
                                    <th>Fats</th>
                                    <th>Calories</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>74g</td>
                                    <td>31g</td>
                                    <td>11g</td>
                                    <td>740kcal</td>
                                </tr>
                            </tbody>
                        </table>
                    </span>
                </li>
                <li>
                    <img src="../../../assets/RecipeDetailsDefaultPicture.jpg" alt="Meal Picture should be here...">
                    <span>
                        <h4>Tasty food</h4>
                        <table>
                            <thead>
                                <tr>
                                    <th>Carbs</th>
                                    <th>Protein</th>
                                    <th>Fats</th>
                                    <th>Calories</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>74g</td>
                                    <td>31g</td>
                                    <td>11g</td>
                                    <td>740kcal</td>
                                </tr>
                            </tbody>
                        </table>
                    </span>
                </li>
                <li>
                    <img src="../../../assets/RecipeDetailsDefaultPicture.jpg" alt="Meal Picture should be here...">
                    <span>
                        <h4>Tasty food</h4>
                        <table>
                            <thead>
                                <tr>
                                    <th>Carbs</th>
                                    <th>Protein</th>
                                    <th>Fats</th>
                                    <th>Calories</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>74g</td>
                                    <td>31g</td>
                                    <td>11g</td>
                                    <td>740kcal</td>
                                </tr>
                            </tbody>
                        </table>
                    </span>
                </li>
                <li>
                    <img src="../../../assets/RecipeDetailsDefaultPicture.jpg" alt="Meal Picture should be here...">
                    <span>
                        <h4>Tasty food</h4>
                        <table>
                            <thead>
                                <tr>
                                    <th>Carbs</th>
                                    <th>Protein</th>
                                    <th>Fats</th>
                                    <th>Calories</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>74g</td>
                                    <td>31g</td>
                                    <td>11g</td>
                                    <td>740kcal</td>
                                </tr>
                            </tbody>
                        </table>
                    </span>
                </li>
            </ul>
        </article>
        <article class="randomize-buttons">
            <button>Random Meal</button>
            <button>Randomize the Day</button>
            <button>Randomize the Week</button>
        </article>
    </section>
</div>