<main>
    <h2>Hello dear Guest, welcome to our little project!</h2>
    <article class="features">
        <span class="introduction">
            <p>The application has been built to ease the management of people living together.</p>
            <p>If you are a part of a family, living with a roommate, or just want to keep track of the bills you are
                paying,this app would be perfect for you!</p>
        </span>
        <br>
        <span class="features-list">
            <p>Currently, we support the following features:</p>
            <ul>
                <li>
                    <p>Summary Dashboard with all the people and their current bills.</p>
                    <img src="../../assets/BillsDashboard.png" alt="Bills Dashboard Picture">
                </li>
                <li>
                    <p>List of all the bills, sorted by months.</p>
                    <img src="../../assets/ListBills.png" alt="Bills List Picture">
                </li>
                <li>
                    <p>Personal section, for your bills that havent been payed yet.</p>
                    <img src="../../assets/PersonalBills.png" alt="Personal Bills Picture">
                </li>
            </ul>
        </span>
        <br>
        <p>To use full functionality please <a routerLink="/user/register">register</a>. Already have an account? <a routerLink="/user/login">Login</a></p>
    </article>
</main>