<main>
    <section class="month-selector">
        <ul>
            <li><a>January</a></li>
            <li><a>February</a></li>
            <li><a>March</a></li>
            <li><a>April</a></li>
            <li><a>May</a></li>
            <li><a>June</a></li>
            <li><a>July</a></li>
            <li><a>August</a></li>
            <li><a>September</a></li>
            <li><a>October</a></li>
            <li><a>November</a></li>
            <li><a>December</a></li>
        </ul>
    </section>
    <section class="month-description">
        <h4>Bills</h4>
        <ul>
            <li *ngFor="let bill of allBills" (click)="showBillDescription(bill.objectId)">
                <p>{{bill.name}}</p>
                <p>{{bill.owedAmountTOTAL}}$</p>
            </li>
        </ul>
        <button routerLink="/bills/create">Create New</button>
        <div class="total">
            <h4>Total</h4>
            <p>{{allBillsTotalAmount}}$</p>
        </div>
    </section>
    <section class="bill-description" [style]="billDescriptionStyle">
        <h3>{{currentBill.name}}</h3>
        <span class="institution">
            <p>{{currentBill.institution}}</p>
            <p>{{currentBill.institutionDescription}}</p>
        </span>
        <span class="owed-amount">
            <p>Дължима сума:</p>
            <ul>
                <li *ngFor="let entry of cbOwedAmount">{{entry.name}} - {{entry.amount}}$</li>
            </ul>
            <p class="total">Общо: {{cbOwedAmountTotal}}$</p>
        </span>
        <span class="owed-by">
            <p>Жители:</p>
            <ul>
                <li *ngFor="let entry of cbOwedBy">{{entry.name}} - {{entry.amount}}$</li>
            </ul>
        </span>
        <span class="buttons">
            <button>Edit</button>
            <button>Delete</button>
        </span>
    </section>
</main>