<main>
    <section class="month-selector">
        <ul>
            <li><a>January</a></li>
            <li><a>February</a></li>
            <li><a>March</a></li>
            <li><a>April</a></li>
            <li><a>May</a></li>
            <li><a>June</a></li>
            <li><a>July</a></li>
            <li><a>August</a></li>
            <li><a>September</a></li>
            <li><a>October</a></li>
            <li><a>November</a></li>
            <li><a>December</a></li>
        </ul>
    </section>
    <section class="month-description">
        <h4>Bills</h4>
        <ul>
            <li>
                <p>Rent</p>
                <p>125$</p>
            </li>
            <li>
                <p>Electricity</p>
                <p>8$</p>
            </li>
            <li>
                <p>Water</p>
                <p>9$</p>
            </li>
            <li>
                <p>Hot Water</p>
                <p>23$</p>
            </li>
            <li>
                <p>WiFi</p>
                <p>5,2$</p>
            </li>
            <li>
                <p>Other</p>
                <p>31$</p>
            </li>
        </ul>
        <button>Create New</button>
        <div class="total">
            <h4>Total</h4>
            <p>421$</p>
        </div>
    </section>
    <section class="bill-description">
        <h3>Студена Вода</h3>
        <span class="institution">
            <p>Софийска Вода</p>
            <p>Клиентски № 54890403</p>
        </span>
        <span class="owed-amount">
            <p>Дължима сума:</p>
            <ul>
                <li>Софийска Вода1 - 12$</li>
                <li>Софийска Вода2 - 13$</li>
                <li>Софийска Вода3 - 23$</li>
                <li>Софийска Вода4 - 35$</li>
            </ul>
            <p class="total">Общо: 1233$</p>
        </span>
        <span class="owed-by">
            <p>Жители:</p>
            <ul>
                <li>Someone - 46$</li>
                <li>Someone else - 46$</li>
                <li>Nooone - 46$</li>
                <li>Another one - 46$</li>
                <li>Different one - 46$</li>
            </ul>
        </span>
        <span class="buttons">
            <button>Edit</button>
            <button>Delete</button>
        </span>
    </section>
</main>