<main>
    <form action="/user/register" class="register-form">
        <span class="username">
            <label for="username">Username:</label>
            <input type="text" id="username">
            <p>Username is required!</p>
            <p>Username already exists!</p>
        </span>
        <span class="password">
            <label for="password">Password:</label>
            <input type="password" id="password">
            <p>Password is required!</p>
            <p>Password should be at least 8 characters!</p>
        </span>
        <span class="repeat-password">
            <label for="repeatPassword">Re-Password:</label>
            <input type="password" id="repeatPassword">
            <p>Passwords dont match!</p>
        </span>
    </form>
</main>