<main>
    <form #f="ngForm" class="register-form" (ngSubmit)="formHandler(f.value)">
        <span class="username">
            <label for="username">Username:</label>
            <input #username="ngModel" type="text" id="username" name="username" ngModel required [class.input-error]="username.touched && !!username.errors">
            <p *ngIf="username.touched && !!username.errors">Username is required!</p>
        </span>
        <span class="password">
            <label for="password">Password:</label>
            <input #password="ngModel" type="password" id="password" name="password" ngModel required [class.input-error]="password.touched && !!password.errors">
            <p *ngIf="password.touched && !!password.errors">Password is required!</p>
        </span>
        <span class="repeat-password">
            <label for="repeatPassword">Re-Password:</label>
            <input #repeatPassword="ngModel" type="password" id="repeatPassword" name="repeatPassword" ngModel required 
            [class.input-error]="repeatPassword.touched && !!repeatPassword.errors || repeatPassword.touched && repeatPassword.value !== password.value">
            <p *ngIf="password.value !== repeatPassword.value && repeatPassword.touched">Passwords dont match!</p>
        </span>
        <button [disabled]="!!password.errors || !!repeatPassword.errors || !!username.errors">Register</button>
    </form>
</main>