<main>
    <form>
        <span class="main-information">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">
            <label for="institution">Institution:</label>
            <input type="text" id="institution" name="institution">
            <label for="institutionDescription">Description:</label>
            <input type="text" id="institutionDescription" name="institutionDescription">
        </span>
        <span class="owed-amount">
            <ul>
                <li>
                    <label for="ownerName">Owner:</label>
                    <input type="text" name="ownerName" id="ownerName">
                    <label for="ownerAmount">Amount:</label>
                    <input type="number" name="ownerAmount" id="ownerAmount">
                </li>
            </ul>
            <button>Add more</button>
        </span>
        <span class="owed-by">
            <ul>
                <li>
                    <label for="ownedName">Owned by:</label>
                    <input type="text" name="ownedName" id="ownedName">
                    <label for="ownedAmount">Amount:</label>
                    <input type="number" name="ownedAmount" id="ownedAmount">
                </li>
            </ul>
            <button>Add more</button>
        </span>
    </form>
</main>