<main>
    <section class="summary">
        <span class="rent">
            <img src="" alt="rent">
            <p>500 <b>$</b></p>
        </span>
        <span class="consumables">
            <ul>
                <li>
                    <img src="" alt="electricity">
                    <p>39 <b>$</b></p>
                </li>
                <li>
                    <img src="" alt="wotah">
                    <p>47 <b>$</b></p>
                </li>
                <li>
                    <img src="" alt="ho-wotah">
                    <p>119 <b>$</b></p>
                </li>
                <li>
                    <img src="" alt="wifi">
                    <p>26 <b>$</b></p>
                </li>
            </ul>
        </span>
        <span class="total">
            <p>TOTAL</p>
            <p>121 <b>$</b></p>
        </span>
    </section>
    <section class="individual">
        <div class="user">
            <img src="../../../assets/UserProfileDefaultPicture.jpg" alt="">
            <span class="bills">
                <ul>
                    <li>Rent - 125$</li>
                    <li>Electricity - 8$</li>
                    <li>Water - 9,6$</li>
                    <li>Hot Water - 23,8$</li>
                    <li>Wifi - 5,2$</li>
                    <li>Other - 0$</li>
                </ul>
                <p></p>
            </span>
        </div>
        <div class="user">
            <img src="../../../assets/UserProfileDefaultPicture.jpg" alt="">
            <span class="bills">
                <ul>
                    <li>Rent - 125$</li>
                    <li>Electricity - 8$</li>
                    <li>Water - 9,6$</li>
                    <li>Hot Water - 23,8$</li>
                    <li>Wifi - 5,2$</li>
                    <li>Other - 0$</li>
                </ul>
            </span>
        </div>
        <div class="user">
            <img src="../../../assets/UserProfileDefaultPicture.jpg" alt="">
            <span class="bills">
                <ul>
                    <li>Rent - 125$</li>
                    <li>Electricity - 8$</li>
                    <li>Water - 9,6$</li>
                    <li>Hot Water - 23,8$</li>
                    <li>Wifi - 5,2$</li>
                    <li>Other - 0$</li>
                </ul>
            </span>
        </div>
        <div class="user">
            <img src="../../../assets/UserProfileDefaultPicture.jpg" alt="">
            <span class="bills">
                <ul>
                    <li>Rent - 125$</li>
                    <li>Electricity - 8$</li>
                    <li>Water - 9,6$</li>
                    <li>Hot Water - 23,8$</li>
                    <li>Wifi - 5,2$</li>
                    <li>Other - 0$</li>
                </ul>
            </span>
        </div>
        <div class="user">
            <img src="../../../assets/UserProfileDefaultPicture.jpg" alt="">
            <span class="bills">
                <ul>
                    <li>Rent - 125$</li>
                    <li>Electricity - 8$</li>
                    <li>Water - 9,6$</li>
                    <li>Hot Water - 23,8$</li>
                    <li>Wifi - 5,2$</li>
                    <li>Other - 0$</li>
                </ul>
            </span>
        </div>
    </section>
</main>