<main>
    <section class="summary">
        <span class="bills">
            <ul>
                <li *ngFor="let bill of currentMonthBills">
                    <p>{{bill.name}}</p>
                    <p>{{bill.owedAmountTOTAL}}</p>
                </li>
            </ul>
        </span>
        <span class="total">
            <p><b>TOTAL</b></p>
            <p>{{currentMonthBillsTotalAmount}}<b>$</b></p>
        </span>
    </section>
    <section class="individual">
        <div class="user" *ngFor="let user of currentUsersBillInformation">
            <span class="user-info">
                <img src="../../../assets/UserProfileDefaultPicture.jpg" alt="">
                <p>{{user.name}}</p>
            </span>
            <span class="bills">
                <ul>
                    <li *ngFor="let bill of user.bills">{{bill.name}} - {{bill.amount}}$</li>
                </ul>
            </span>
        </div>
    </section>
</main>