<main>
    <form action="/user/login" class="login-form" method="POST">
        <span class="username">
            <label for="username">Username:</label>
            <input type="text" id="username">
            <p>Username is required!</p>
        </span>
        <span class="password">
            <label for="password">Password:</label>
            <input type="password" id="password">
            <p>Password is required!</p>
            <p>Wrong username or password!</p>
        </span>
    </form>
</main>