<section class="checklist">
    <img src="../../../assets/UserProfileDefaultPicture.jpg" alt="User Profile Picture">
    <form action="/duties/checklist" method="POST">
        <ul>
            <li>
                <input type="checkbox" name="kitchen">
                <label for="kitchen">Kitchen</label>  
            </li>
            <li>
                <input type="checkbox" name="livingRoom">
                <label for="livingRoom">Living Room</label>
            </li>
            <li>
                <input type="checkbox" name="bathroom">
                <label for="bathroom">Bathroom</label>
            </li>
        </ul>
        <button>Areas Cleaned!</button>
    </form>
</section>