<main>
    <h2>Hello {{userName}}, glad you made it :)</h2>
    <span>
        <p>
            As a registered user, you have access to the full functionality of our our app.
        </p>
        <p>
            Please head over to the <a routerLink="/bills/dashboard">bills</a> section to check them out!
        </p>
        <p>We work restlessly, to bring you more app features. So stay tuned!</p>
    </span>
    <br>
    <span>
        <p>Incoming updates will include:</p>
        <ul>
            <li>Food section</li>
            <ul>
                <li>Keep track of all the meals throughout the week.</li>
                <li>Included calorie tracker and personal goals.</li>
                <li>Detailed summary of everything that is transpiring at the moment.</li>
                <li>Randomizer for your day/week. For those that always wonder what to eat :D</li>
            </ul>
            <br>
            <li>Duties section</li>
            <ul>
                <li>Real-time summary of what's completed.</li>
                <li>List section, to check everything that was assigned.</li>
                <li>Personal space, showing your current assignments.</li>
            </ul>
        </ul>
    </span>
</main>