<main>
    <div class="person">
        <section class="user">
            <img src="../../../assets/UnauthenticatedUserProfilePicture.jpg" alt="User Profile Picture!">
            <p>User Name</p>
        </section>
        <section class="checklist">
            <ul>
                <li>Kitchen</li>
                <li>Fridge</li>
                <li>Dining Room</li>
            </ul>
        </section>
    </div>
    <div class="person">
        <section class="user">
            <img src="../../../assets/UnauthenticatedUserProfilePicture.jpg" alt="User Profile Picture!">
            <p>User Name</p>
        </section>
        <section class="checklist">
            <ul >
                <li>Kitchen</li>
                <li>Fridge</li>
                <li>Dining Room</li>
            </ul>
        </section>
    </div>
    <div class="person">
        <section class="user">
            <img src="../../../assets/UnauthenticatedUserProfilePicture.jpg" alt="User Profile Picture!">
            <p>User Name</p>
        </section>
        <section class="checklist">
            <ul>
                <li>Kitchen</li>
                <li>Fridge</li>
                <li>Dining Room</li>
            </ul>
        </section>
    </div>
    <div class="person">
        <section class="user">
            <img src="../../../assets/UnauthenticatedUserProfilePicture.jpg" alt="User Profile Picture!">
            <p>User Name</p>
        </section>
        <section class="checklist">
            <ul>
                <li>Kitchen</li>
                <li>Fridge</li>
                <li>Dining Room</li>
            </ul>
        </section>
    </div>
</main>